html{
	font-family: "Open Sans";
}
body{
	background-image: url('fondorec.png');
	background-size: cover;
	background-repeat: repeat-x;
	background-position: center center;
}
.caja{
	margin: 0 auto;
	min-height:30%; 
	min-width: 20%;
	max-width:25%; 
	border-color: white;
	max-height:100%;
	border-style: solid;
	margin-top: 10%;
	-webkit-box-shadow: 0px 0px 5px 7px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 7px rgba(204,204,204,1);
	box-shadow: 0px 0px 5px 7px rgba(204,204,204,1);
	background-color: white;
}
.items{
	//padding-left: 10%;
	padding-bottom: 10%;

	margin:auto;
	margin-top: 5%;
	width: 100%;
}
.items label, .items input{
	display:block;
	margin-top: 5%;
	width: 50%;
	height: 2em;
	margin: 0 auto;
}


.items input{
	 -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;

  min-width: 50%;
	max-width: 200px;
	width: 70%;
}
.caja img{
	max-width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;

}

.divimg{
	
	width: 100%;
}

.divsend{
	width: 100%;
}

.divsend button{

	background: #094d7a;
  
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

	display: block;
	margin: auto;
	margin-bottom: 10%;
	font-weight: bold;
	font-family: "GobCL";
}

.divsend button:hover{
	background: #078be3;
  background-image: -webkit-linear-gradient(top, #078be3, #3498db);
  background-image: -moz-linear-gradient(top, #078be3, #3498db);
  background-image: -ms-linear-gradient(top, #078be3, #3498db);
  background-image: -o-linear-gradient(top, #078be3, #3498db);
  background-image: linear-gradient(to bottom, #078be3, #3498db);
  text-decoration: none;
}