/*Menu lateral izq */
#fondo{ 
	background-image: url("../img/fondorec.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	}

#logo{ 
	width: 15%;
	background-color: #0b202d;
	display: inline-block;
	float: left;
	margin-right: 0px;
}

#logo img{
	height: 125px;
	padding-left: 23px;
}

.mas{

	padding-left: 5px;
	max-width: 24px !important;
	margin-bottom: 5px;

}




#menuizq {
	width: 15% !important;
    float: left;
	//border-right: 1px solid #000;
	padding: 0 0 0 0;
	margin-bottom: 1em;
	font-family: 'GobCl', 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 14px;
	//background-color: #90bade;
	color: #333;
    display:inline-block !important;;
    margin-right: 10px;
	min-height: 400px;
	text-indent: 27px;
	background-color: #0b202d;
	-webkit-box-shadow: 7px 7px 35px -1px rgba(204,204,204,1);
    -moz-box-shadow: 7px 7px 35px -1px rgba(204,204,204,1);
	box-shadow: 7px 7px 35px -1px rgba(204,204,204,1);
    min-height: 100vh;
    //font-weight: bold;
}

#menuizq ul {
	list-style: none;
	margin: 0;
	border: none;
	font-family: 'GobCl';
	padding-top: 29px;
		
	}
		
	#menuizq li {
		margin: 0;
		list-style: none;
}
	
#menuizq li a {
	display: block;
	padding: 12px 16px 8px 1em;
	border-left: 10px solid #0b202d;
	border-right: 10px solid #0b202d;
	background-color: #0b202d;
	color: white;
	text-decoration: none;
	width: 100%;

	
}
/*dsahfkljashdjklsahdkjalsh*/
#menuizq li a.btnTipo1{
	background-image: url("../img/casita.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}
#menuizq li a.btnTipo2{
	background-image: url("../img/usuarios.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo3{
	background-image: url("../img/alertas.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo4{
	background-image: url("../img/noticias.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo5{
	background-image: url("../img/archivos.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo6{
	background-image: url("../img/capacitaciones.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo7{
	background-image: url("../img/mapas.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

#menuizq li a.btnTipo8{
	background-image: url("../img/mapas.png");
	background-repeat: no-repeat;
	background-position: 5px ,-12px;
}

html>body #menuizq li a {
	width: auto;
}

#menuizq li a:hover {
	border-left: 10px solid #243742;
	border-right: 10px solid #243742;
	background-color: #243742;
	color: #fff;
}
/*Fin del Menu lateral izq */
#pagecontent{
    width: 70% !important;;
    display: inline-block !important;;
    margin-left: 20px;
	//border-style: none solid;
	padding: 20px;
	border-width: 2px;
	//background-color: #F6F6F6;
	//border-color: #F6F6F6;
	//border-radius: 15px;
	min-height: 400px;
	font-family: 'GobCl'


}

#content{
	background-color: white;
	padding: 5%;
}

#pagetop{
 width: 100%;
 //background-color: #eaeaea; /*#21b384*/
 //background-color: #0b202d;
 //background-color: #21b384;
 display:inline-block;
 background-color: white;
 margin: auto;
 height: 110px;
 	-webkit-box-shadow: -1px 10px 5px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 5px -7px rgba(0,0,0,0.75);
box-shadow: -1px 10px 5px -7px rgba(0,0,0,0.75);
 
}

#pagetop img{
    margin: 0px;
    max-height: 100%;
    margin-left: 5%;
    display: inline-block;
	float:left;
}

.ib{display: inline-block;}

#logininfo{
 float: right;
 font-weight: bold;
 color:black;
 display:inline-block;
 //margin-right: 10%;
 margin-top: 1em;
 font-family: 'GobCl';
 width: 20%;
 font-size: 18px;
}

.blockstep{
 display: block;
}

.iblock{
 display: inline-block;
 position: absolute;
}

.imguser{
 height: 100%;
 display:inline-block;
}

.optionsuser{
    color:white;
}

.contenidobox{
    width: 100%;
    height: 100%;
}

.footerprev{
    height: 10em;
    background-color: #002933;
    clear: both;
    color:white;
    padding-top: 20px;
    font-family: 'GobCl'
}

.titletop{
	width: 45%;
	color: black;
	font-weight: bold;
	font-size: 34px;
	float: left;
	height: inherit;
	vertical-align: center;
	margin-left: 10%;
	margin-top: 2em;
	font-family: 'GobCl';
	display: inline-block;
}

.userlogin{
	float:right;
	color:black;
	font-weight: bold;
	//font-size: 24px;
	margin-right: 10%;
 	margin-top: 1em;
	font-family: 'GobCl';
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //font-size: 16px;
	border-radius: 10px;
	padding-right: 5px;
	position: absolute;
}

.userlogin a:link{
	color:black;
}
#logininfo a:link {
    color: black;
}

.userlogin a:visited {
    color: black;
}

.userlogin a:hover {
    color:#3a67ad; 
	font-weight: bold;
}

.userlogin a:active {
    color: blue;
}

.operaciones{
	font-weight: bold;
	color:black;
	font-family: "GobCl", Courier, monospace;
	margin-left: 0px !important;
	padding-top: 0px 0px 0px 0px;
	text-indent: 0px;
	min-height: 50px;
}

.operaciones ul li a{
	margin-left: 0px;
}

.opcionestable a{
	text-align: center;
	margin-right:10px;
}

.opcionestable{
	margin: auto;
	text-align: center;
}

.coloaradd a:link{
	color:purple !important;
}

.coloradd a:hover{
	color: #3a67ad;
}

.textAreaCont{
	height: 500px;
	max-height: 500px;
	width: 100%;
}

.viewContentNoticia{
	//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	//font-size: 14px;
	white-space: pre-line;
}

tr{
	color: #3a67ad;
}

.menuvariable ul{
	padding-top: 0px !important;
	padding-bottom: 20px !important;
}

#delete,#reset{
	display: inline-block;
}

.button-0 {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #FFF!important;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.button-0 a{
	color:white;
}
.button-0:hover, 
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

/*Temporal de internet src http://www.w3schools.com/howto/howto_js_dropdown.asp

*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-weight: normal;
	border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*Fin_Temporal*/

.form-actions{
	background-color: white!important;
}

.botonForm {
  -webkit-border-radius: 5!important;
  -moz-border-radius: 5!important;
  border-radius: 5px!important;
  color: #ffffff!important;
  background: #0b202d!important;
  padding: 5px 10px 5px 10px!important;
  text-decoration: none!important;
}

.botonForm:hover {
  background: #005180!important;
  text-decoration: none!important;
}